<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Facturación</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/design/enfermera_factura.css'>
</head>
<body>
    <header id="encabezado">
        <a href="enfermera.html">
            <div id="head-desc">
                <span id="nam-site">Hospital Universitario</span>
                <span id="des-site">Existiendo por la salud de todos</span>
            </div>
        </a>
        <a id="link-home" href="enfermera.html">Home</a>
    </header>
    <form class="formulario" action="" oninput="resultado.value = parseFloat(consulta.value)+parseFloat(operacion.value)+ parseFloat(internado.value)">
        <legend>FACTURACION</legend>
        <input type="date" name="fecha" id="fecha" disabled>
        <script>
            document.querySelector("#fecha").valueAsDate = new Date();
        </script>
        <input type="text" name="paciente" id="paciente" placeholder="Paciente" required>
        <select name="doctor" id="doctor" aria-placeholder="Doctor">
            <option disabled selected>Seleccione un doctor</option>
        </select>
        <input type="number" name="consulta" id="consulta" min="0" placeholder="Costo de consulta" required>
        <input type="number" name="operacion" id="operacion" min="0" placeholder="Costo de operación">
        <input type="number" name="internado" id="internado" min="0" placeholder="Costo de internado">
        <input type="number" name="resultado" id="resultado" min="0" placeholder="Costo Total" required>
        <input type="submit" name="imprimir" id="imprimir" value="Imprimir">
    </form>
</body>
</html>