{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Modificar Datos</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/marathon.png' %}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/modificar.css" %}'>
    <script type="text/javascript" src="{% static 'js/modificar.js' %}"></script>
</head>
<body>
    <header id="encabezado">
        <a onclick="volver()">
            <div id="head-desc">
                <span id="nam-site">Hospital Universitario</span>
                <span id="des-site">Existiendo por la salud de todos</span>
            </div>
        </a>
        <a id="link-tabs" onclick="volver()">Regresar</a>
    </header>
    <section id="seccionM">
        <form id="formulario" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" required 
            title="Ingrese su Nombre">
            <input type="text" name="apellido" id="apellido" placeholder="Apellido" required 
            title="Ingrese su Apellido">
            <legend>Fecha de nacimiento</legend>
            <input type="date" name="nacimiento" id="nacimiento" required 
            title="Ingrese su fecha de nacimiento">
            <select name="sexo" id="sexo" placeholder="Seleccione su sexo">
                <option value="nulo" disabled>sexo</option>
                <option id="F" value="F">Femenino</option>
                <option id="M" value="M">Masculino</option>
            </select>
            <input type="number" name="telefono" id="telefono" placeholder="Teléfono" 
            title="Ingrese su número telefónico (8 digitos)">
            <input type="text" name="usuario" id="usuario" placeholder="Usuario" 
            required title="Ingrese su Usuario">
            <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" minlength="8" 
            required title="Ingrese una contraseña con al menos 8 caracteres">
            <input type="button" value="Modificar" id="enviar" onclick="actualizar()">
        </form>
    </section>
</body>
</html>