body{
    margin: 0;
    padding: 0;
    padding-top: 95px;
    padding-bottom: 10%;
    background-color:aliceblue;
}
#encabezado{
    background-color: rgb(105, 105, 105);
    position: fixed;
    width: 100%;
    height: 95px;
    color: white;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
}
#encabezado a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#head-desc{
    float: left;
    margin-left: 30px;
}
#nam-site{
    display: block;
    font-weight: 900;
    font-size: xx-large;
    padding: 7px;
}
#des-site{
    display: block;
    font-weight: 300;
    font-size: larger;
    padding: 6px;
}
#link-tabs{
    float: right;
    font-size: larger;
    font-weight: 500;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}